{% extends "base.html" %}
<!--Just like a PHP class, I bring the contents of the template base.html with this keyword.-->

<!--The block content of base.html will be whatever is inside of this block content.-->
<!--Thanks, Jinja, very helpful.-->
{% block content %}

<!--The same way we use an if in base.html, we can use for loops.-->
<!--This loop runs through all the indexes in the list posts, defined in the view function for this template
in routes.py.-->
{% for post in posts %}
<p>Escrito por: {{ post.author.username }}</p>
<h3>{{ post.title }}</h3>
<p>{{ post.body }}</p>
<!--The reason why I use an if for the timestamp is because there are a few posts made before
timestamps where a thing.-->
{% if post.timestamp %}
<!--The strftime() is a method for datetime type objects. The parameter '%x' ensures the method
returns a string with a mm/dd/yyyy format, while the '%X' parameter ensures it returns a
string with a hh:mm:ss format.-->
<p>Publicado el {{ post.timestamp.strftime('%x') }} a las {{ post.timestamp.strftime('%X') }}</p>
{% endif %}
<!--This route specifies the id of the post as a parameter, this way the view function can query de
specific post the user wishes to edit.-->
{% if current_user.id == post.author.id %}
<a href="/edit?p={{ post.id }}">editar</a>
{% endif %}
<hr>
{% endfor %}

{% endblock %}